body {
  background-color: rgb(37, 37, 37);
  color: white;
}

ul {
  list-style: none;
}

.navbar-toggler-icon {
  color: white;
  z-index: 1;
}

.img-box {
  overflow: hidden;
  box-shadow: inset 0em -1em 10em black;
}

.site-head {
  z-index: 1;
  position: relative;
  float: left;
  top: 4em;
}

.name {
  font-size: 3.75em;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 5em;
  display: none;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/5186869/pexels-photo-5186869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2000);
  background-repeat: no-repeat;
  transform: scaleY(-1) scaleX(-1);
  background-size: cover;
  filter: blur(5px);
  aspect-ratio: 16 / 10;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}
footer li {
  padding: 0.25em;
  font-size: 18px;
  text-align: center;
}

footer {
  background-color: black;
}

@media (min-width: 1200px) {
  .site-head {
    top: 6em;
  }

  .subtitle {
    display: unset;
  }

  .name {
    font-size: 14em;
  }
}

@media (min-width: 765px) {
  .name {
    font-size: 10em;
  }
} ;
